<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.bowser.feature.alarm">

    <!-- Alarm timer -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Alarm feature required this permission started from API 31 because it uses exact alarm -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <receiver
            android:name=".internal.TimedDayReceiver"
            android:exported="false" />

        <receiver
            android:name=".internal.AlarmManagerReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
