<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.bowser.feature.alarm">

    <!-- Alarm timer -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver
            android:name=".internal.TimedDayReceiver"
            android:exported="false" />

        <receiver
            android:name=".internal.DeviceBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
