<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="fr.bowser.behaviortracker.app">

    <dist:module dist:title="@string/dynamic_feature_app_module_name">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>