<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="fr.bowser.behaviortracker">

    <!-- Crashlytics and Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Pomodoro, when timer switched -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Allow to start the TimeService from a background thread -->
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".config.BehaviorTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".home_view.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <receiver
            android:name=".notification.TimerReceiver"
            android:exported="false" />

        <service android:name=".notification.TimeService" />

    </application>

</manifest>