<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="fr.bowser.behaviortracker">

    <!-- Crashlytics and Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Alarm timer -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Pomodoro, when timer switched -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".config.BehaviorTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity android:name=".showmode.ShowModeFragment" />

        <receiver
            android:name=".notification.TimerReceiver"
            android:exported="false" />

        <receiver
            android:name=".alarm.TimedDayReceiver"
            android:exported="false" />

        <receiver
            android:name=".alarm.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".config.KillAppDetection" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7621ce7dc1bd434d2715677e23600e7686de8b45" />

    </application>

</manifest>